<article class="entry entry-format-fulltext">
  <h1 class="entry-title">{{ post.title }}</h1>

  <div class="entry-meta">
    <p class="entry-author">{{site.author}}</p>
    <p class="entry-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e, %Y" }}</p>
    {% if post.last_modified_at %}
    <p class="entry-date entry-date-modified" datetime="{{ post.last_modified_at | date_to_xmlschema }}">(Updated: {{ post.last_modified_at | date: "%b %-d, %Y" }})</p>
    {% endif %}
    {% assign categories = post.categories %}
    {% if categories != '' %}
    <ul class="entry-tags">
      {% for category in categories %}
      <li><a href="{{ site.baseurl }}/archives#{{ category | slugize }}">{{ category }}</a></li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="entry-body">
    {{ post.content }}
  </div>
</article>
